.volume {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 2;

  margin-bottom: 12px;
  margin-left: 16px;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;

  &__icon,
  &__slider {
    display: inline-block;
  }

  &__icon {
    width: 20px;
    margin-right: 8px;
    cursor: pointer;

    display: flex;
    align-items: center;
  }

  &__slider {
    flex: auto;
    display: flex;
    align-items: center;

    &-input {
      width: calc(100% - 32px);
      height: 3px;
    }
  }

  // Custom input
  // input[type="range"] {
  //   position: relative;
  //   width: calc(100% - 32px);
  //   margin: 0;
  //   padding: 0;
  //   height: 2px;
  //   float: left;
  //   outline: none;
  // }
}